/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width:100%;
    height:auto
}
/*清除css*/
html, body {
        position: relative;
    }
    .swiper-pagination2 {
        display: none;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
   .banner-main .nohide {
        overflow: inherit;
    }
/*slide*/
.prev {
    float: right;
    margin: 0 5px;
    padding: 5px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(#bad33c, #83ab1f);
}
.next {
    float: right;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    color: white;
    background: linear-gradient(#bad33c, #83ab1f);
}
.control-bar {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../img/bgimage.jpg);
}

body {
	background-image: url(../img/bgimage.jpg);
	font-family: Arial;

}

a:hover {
	opacity: 0.6;
}
.topbar {
    background: #fff;
    padding: 15px 0 29px 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0.1px 0.1px 0.1px;
    position: relative;
}
.topbar::before {
	content: "";
	background: orange; 
	width:100%;
	height: 1px;
    position: absolute;
    top: 0px;
}
.content {
	width:1186px;
	margin: 0 auto;
	box-sizing: border-box;
}
.ps-thing {
	position: relative;
}
.setting-bar {
    float: left;
}
.setting-item {
    display: inline-block;
    margin: 0 15px;
    color:#8f8f8f;
}
.setting-item a {
	color:#96b624;
	margin-left: 5px;
}

.account-bar {
	position: absolute;
    right: 0;
    color:#a5a5a5;
}
.account-bar a {
	color:#a5a5a5;
}
.account-bar li {
	display: inline-block;
	margin: 0px 10px;
	position: relative;
}
.account-item::after {
	content: "";
	background: #e0e0e0;
	height: 100%;
	width:2px;
	position:absolute;
	right: -13px;
}
.language-list {
    display: none;
    position: absolute;
    top: 32px;
    z-index: 9000000;
}
.language-list li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    background: #eee;
}
.language-list a {
    padding: 12px 55px;
    display: block;
    color: #8f8f8f;
    text-decoration: none;
}
#language,#dollar {
    padding: 0 10px;    
}
.dollar-list {
    display: none;
    position: absolute;
    left: 210px;
    top: 32px;
    z-index: 9000000;
}
.dollar-list li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    background: #eee;
}
.dollar-list a {
    padding: 12px 55px;
    display: block;
    color: #8f8f8f;
    text-decoration: none;
}
.fourth::after{
	display: none;
}
.p45 {
	overflow: auto;
}

.logo 	{
	float:left;
}
.logo a {
    background-repeat: no-repeat;
    background-position: 0% 50%;
	display: block;
    background-image: url(../img/logo.png);
    padding: 35px 0;
    text-indent: -119988px;
    width: 350px;
}
.logo img {
	max-width: 100%;
}
.social {
    position: absolute;
    right: 0;
    bottom: 15px;
}
.top-index {
	z-index: 9000;
    position: relative;
}
.social input {
	float: left;
    padding: 10px 15px;
    position: relative;
    left: 7px;
}
.social-list li {
	display: inline-block;
}
.social-list img {
	max-width:100%; 
}
.navbar li {
	display: inline-block;
}
.navbar a {
	display: block;
	padding: 20px 15px;
	color: #000;
	text-decoration: none;
}
.navbar {
	position: relative;
}
.navbar::before {
	content: "";
    background-image: url(../img/separator.png);
    background-repeat: no-repeat;
    height: 10px;
    display: block;
    width: 100%;
}
.navbar::after {
	content: "";
    background-image: url(../img/separator.png);
    background-repeat: no-repeat;
    height: 10px;
    display: block; 
    width: 100%;
}
.product-line::after {
    content: "";
    background-image: url(../img/separator.png);
    background-repeat: no-repeat;
    height: 10px;
    display: block;
    width: 86%;
    position: absolute;
    top: 3px;
    right: 0;
}
.product-line-2::after {
    content: "";
    background-image: url(../img/separator.png);
    background-repeat: no-repeat;
    height: 10px;
    display: block;
    width: 84%;
    position: absolute;
    top: 3px;
    right: 0;
}
.product-line-3::after {
    content: "";
    background-image: url(../img/separator.png);
    background-repeat: no-repeat;
    height: 10px;
    display: block;
    width: 85%;
    position: absolute;
    top: 3px;
    right: 0;
}
.pos-rel {
    position: relative;
    overflow: hidden;
}
.now a {
	color:#96b624;
}
.buy {
	position: absolute;
    right: 0;
    bottom: 20px;
    border: 1px solid #dcd1bc;
    background: linear-gradient(#bad33c, #83ab1f);
    padding: 2px 2px;
    border-radius: 5px;
}
.buy a {
	padding: 2px 2px;
	text-decoration: none;
}
.cart-number {
    position: relative;
    top: -7px;
    color: #ffffff;
    padding: 0px 2px;
    font-size: 12px;
}
.small-title {
	font-size: 26px;
	padding: 15px 10px;
    width: 500px;
}
.banner {
	padding: 30px 0;
}
.banner-main {
	background: #fff;
	box-shadow: 0 1px 5px #9E9E9E;
}
.banner-main img{
    width: 100%;
}
.visit {
    position: absolute;
    right: 15px;
    bottom: 8px;
    border: 1px solid #dcd1bc;
    background: linear-gradient(#bad33c, #83ab1f);
    border-radius: 5px;
}
.visit a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	display: block;
	padding: 15px 5px;
}

.product-list {
}
.product {
	width: 23%;
    float: left;
    position: relative;
    background: #fff;
    margin: 25px calc(8%/6) 50px;
}
.product img {
	width: 100%;
}
.special {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 14px;
    border-radius: 50px;
    background: #98b927;
    padding: 17px 7px;
    color: #fff;
}
.product-add {
	position: relative;
    border-bottom: 1px solid #efefef;
    padding: 15px 0;    	
}
.price {
	margin-left: 10px;	
}
.add-cart {
    position: absolute;
    top: 5px;
    font-size: 12px;
    right: 10px;
    background: linear-gradient(to right,#838383,#bf9e9e, #838383);
    border-radius: 4px;
    border: 2px solid #94eae2;
}
.add-cart a {
	padding: 9px;
	display: block;
	text-decoration: none;
    color: #fff;
}
.product-content {
	border-bottom: 1px solid #efefef;
}
.pro-tit {
	padding: 15px 0 10px 10px;
}
.pro-des {
	line-height: 22px;
    font-size: 12px;
    width: 70%;    
    padding: 0px 0 10px 10px;
    color:#009688;
}
.view-product {
	border-bottom: 1px solid #efefef;
}
.view-product::after {
	content: "";
    width: 100%;
    position: absolute;
    box-shadow: 0 0.5px 0px 0.5px #e2e1e1,0 2.5px 0px 0.5px #e2e1e1,0 5px 0px 0.5px #e2e1e1;
}

.view-product a{
    padding: 15px 0 10px 10px;
    color: #9ab732;
    display: block;
    text-decoration: none;
}
.view-product-2 a {
    padding: 15px 0 10px 10px;
    color: #9ab732;
    display: block;
    text-decoration: none;
}
.view-product-2 {
border-bottom: 2.5px solid #efefef;
}
.brand {
    overflow: hidden;
    margin: 25px 0;
}
.brand-list {
    float: left;
    width: 20%;
    background: #fff;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
.brand-list {
    text-align: center;
}
.brand-list a{
    display: block;
}
.col-4 {
    width:23%;
    box-sizing: border-box;
    margin: 30px calc(8%/6) 15px;
    float: left;
}
footer {
    background: #fff;
    border-top: 1px solid #efefef;
    overflow: hidden;
    position: relative;
}
footer::after {
    content: "";
    background: orange;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-logo {
    width: 100%;
}
.footer-social {
    margin: 15px 0;
}
.footer-post img {
    float: left;
}
.footer-post {
    overflow: hidden;
    border: 2px solid #d8d2d2;
    margin: 15px 0;
    border-radius: 10px;
}
.footer-2 a {
    color: #000;
    display: block;
}
.footer-post-content {
    float: left;
    padding: 20px 0 20px 10px;
}
.footer-3 li {
    margin: 25px 0;
    line-height: 22px;
}
footer h3 {
    font-size: 22px;
}
.user-talk {
    position: relative;
    overflow: hidden;
    margin: 15px 0;
}
.user-content {
    float: left;
    width: 70%;
    padding: 15px 35px 30px 15px;
    border: 2px solid #d8d2d2;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 14px;
    line-height: 18px;
    background: #ece9e9;
}
.user-name {
    float: left;
    width: 30%;
    text-align: center;
}

.mg-left0 {
    margin-left: 0;
}
.mg-right0 {
    margin-right: 0;
}
.bottom-list {
    background: #000;
    overflow: auto;
    padding: 5px 0;
    font-size: 14px;
}
.bottom-nav li{
    float:left;
    margin-right: 10px;
}
.bottom-nav a{
    text-decoration: none;
    color:#fff;
    padding: 15px 0;
}
.copyright {
    float: right;
    color: #fff;
}
  .nacicon {
    display: none;
  }
  .mobile-logo,.mobile-nav {
    display: none;
}

@media screen and (max-width: 1200px) {
	.content {
		width: 1170px;
	}
	.social-list img {
        max-width: 35px;
}
.banner-main .small-title {
    width: 80%;
}
  .product {
    width:47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
	.social input {
   		padding: 9px 0px;
    	left: 36px;
    	top: 0.5px;
}
    .banner-main .nohide {
        overflow: hidden;
    }
@media (max-width: 992px) {
    .language-list {
    width: 100%;
    top: 40px;
    }
    .language-list li {
    background: #fff;
}
    .dollar-list {
    width: 100%;
    top: 75px;
    left: 0;
    }
    .dollar-list li {
    background: #fff;
}
 	.content {
    width: 780px;
  	}
      .product {
    width: 42%;
    margin-left: 4%;
    margin-right: 4%;
}
      .visit {
    right: 16px;
    bottom: 1px;
}
    .visit a {
    padding: 7px 5px;
}
.navbar {
    display:none; 
    position: initial;
}
.navbar::after {
    position: absolute;
    top: 160px;
}
.nacicon {
    width: 35px;
    display: block;
    padding: 5px 0;
    float: right;
    right: 5px;
    position: relative;
    top: -8px;
    border-radius: 6px;
    background: #fff;
    border: 2px solid #ab8c8c;
}
.buy {
    bottom: 550px;
    }
.account-bar li {
    margin: 0px 3px;
}
.navbar::before {
    display: none;
}
.navbar li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
.navbar a {
    padding: 10px 0;
}
.navbar {
    left: 0;
    position: absolute;
    padding: 0;
    z-index: 900;
    top: 78px;
    width: 100%;
    background: #eee;
}
.menu-line {
background: #838383;
    height: 2px;
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}
.account-bar {
    top: 115px;
    left: 15px;
}
.mobile-logo {
    display: block;
    float: left;
    position: absolute;
    top: -10px;
    height: 34px;
}
.social {
    left: 0;
    top: 35px;
    text-align: center;
    z-index: 900;
    display: none;
}
.social-list {
    background: #eee;
    position: relative;
    top: -45px;
}
.mobile-logo a {
    background-repeat: no-repeat;
    background-position: 0% 75%;
    display: block;
    background-image: url(../img/logo.png);
    padding: 18px 0;
    text-indent: -119988px;
    width: 155px;
    background-size: 100%;
}
.mobile-nav {
    display: block;
    text-align: center;
    font-size: 30px;
    clear:both;
    margin: 0;
}
.social input {
    padding: 5px 33px;
    left: 16%;
    top: 5px;
}
.p45{
    padding: 0;
    overflow: hidden;
}
.mobile-nav li {
    float: left;
    width: 25%;
    background: #ece9e9;
    position: relative;
    width: 25%;
    top: -3px;
}
.mobile-nav a {
    text-decoration: none;
    color:#000;
}
.logo {
    display: none;
}
.setting-bar {
    display: none;
}
.social-list li {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #ffffff;
}
.social-list .mobile-padding0 {
    padding: 0;
}
.banner-main {
    margin-top: 10px;
}
.buy , .footer-1{
    display: none;
}
.setting-bar {
    width: 100%;
    float: left;
    background: #eee;
    position: absolute;
    top: 62px;
    z-index: 900;
}
.wid100 {
    padding: 0;
}
.setting-item {
    color: #8f8f8f;
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}
.account-bar {
    top: 62px;
    left: 0px;
    background: #eee;
    z-index: 900;
    display: none;
}
.navbar::after {
    display: none;
}
.account-bar li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
.account-bar a {
    padding: 10px 0;
    display: block;
}


.small-title {
    font-size: 16px;
}
.copyright {
    margin-top: 12px;
    color: #fff;
}
  .col-4 {
    width: 90%;
}
    .footer-3 li {
        margin: 0 0 0 15px;
        float: left;
    }

}
@media (max-width: 768px) {
  .content {
    width: 100%;
  } 
  .product {
    width:47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .pro-des {
    width: 90%;
  }
  .mobile-phone {
    display: none;
  }
}
@media screen and (max-width: 610px) {
	.content {
	width:100%;
 	 padding-right: 15px;
 	 padding-left: 15px;
 	 margin-right: auto;
 	 margin-left: auto;
	}
    .product {
    width:90%;
    margin: 3% 5%;
  }
  .col-4 {
    width: 100%;
}
    .footer-3 li {
        margin: 0 0 0 15px;
        float: left;
    }
    .brand-list img {
    height: 45px;
    }
    .product-line-2::after {
    width: 50%;
}
    .product-line::after {
    width: 55%;
}
    .small-title {
    font-size: 20px;
    padding-bottom: 15px;
}
    .visit {
    right: 16px;
    bottom: 1px;
}
    .visit a {
    padding: 7px 5px;
}
.navbar {
    display:none; 
    position: initial;
}
.navbar::after {
    position: absolute;
    top: 160px;
}
.nacicon {
    width: 35px;
    display: block;
    padding: 5px 0;
    float: right;
    right: 5px;
    position: relative;
    top: -8px;
    border-radius: 6px;
    background: #fff;
    border: 2px solid #ab8c8c;
}
.buy {
    bottom: 550px;
    }
.account-bar li {
    margin: 0px 3px;
}
.navbar::before {
    display: none;
}
.navbar li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
.navbar a {
    padding: 10px 0;
}
.navbar {
    left: 0;
    position: absolute;
    padding: 0;
    z-index: 900;
    top: 78px;
    width: 100%;
    background: #eee;
}
.menu-line {
background: #838383;
    height: 2px;
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}
.account-bar {
    top: 115px;
    left: 15px;
}
.mobile-logo {
    display: block;
    float: left;
    position: absolute;
    top: -10px;
    height: 34px;
}
.social {
    left: 0;
    top: 35px;
    text-align: center;
    z-index: 900;
    display: none;
}
.social-list {
    background: #eee;
    position: relative;
    top: -45px;
}
.mobile-logo img {
    max-height: 100%;
}
.mobile-nav {
    display: block;
    text-align: center;
    font-size: 30px;
    clear:both;
    margin: 0;
}
.social input {
    padding: 5px 33px;
    left: 16%;
    top: 5px;
}
.p45{
    padding: 0;
    overflow: inherit;
}
.mobile-nav li {
    float: left;
    width: 25%;
    background: #ece9e9;
    position: relative;
    width: 25%;
    top: -3px;
}
.mobile-nav a {
    text-decoration: none;
    color:#000;
}
.logo {
    display: none;
}
.setting-bar {
    display: none;
}
.social-list li {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #ffffff;
}
.social-list .mobile-padding0 {
    padding: 0;
}
.banner-main {
    margin-top: 10px;
}
.buy , .footer-1{
    display: none;
}
.setting-bar {
    width: 100%;
    float: left;
    background: #eee;
    position: absolute;
    top: 62px;
    z-index: 900;
}
.wid100 {
    padding: 0;
}
.setting-item {
    color: #8f8f8f;
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}
.account-bar {
    top: 62px;
    left: 0px;
    background: #eee;
    z-index: 900;
    display: none;
}
.navbar::after {
    display: none;
}
.account-bar li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
.account-bar a {
    padding: 10px 0;
    display: block;
}
.footer-post-content {
    padding: 20px 0;
    width: 80%;
    text-align: center;
}
.footer-post img {
    width: 20%;
}
.small-title {
    font-size: 16px;
}
.copyright {
    margin-top: 12px;
    color: #fff;
}
}