/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Microsoft YaHei UI","Microsoft YaHei","HeiTi TC",sans-serif;
	background-image: url('../img/Kaohsiung_skyline.jpg');
	background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


ul {
	list-style: none;
}
h1 {
    font-size: 26px;
}
h2 {
	font-size: 22px;
    font-weight: 900;
}
.title {
	text-align: center;
    font-weight: 900;
	margin: 20px 0;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 60%;
      }
      .down {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
      }
select {
	width: 85%;
	display: block;
    text-align-last: center;
    margin: 0 auto;
	background: #e8e1e1;
	font-size: 18px;
	font-weight: 600;
	border-radius: 49px;
}
.list-data {
    background: rgba(255, 255, 255, 0.84);
    width: 23%;
    float: left;
    margin: 5px calc(8%/8);
    border-radius: 7px;
    padding: 15px 45px;
    box-sizing: border-box;
    height: 230px;
    line-height: 40px;
    font-size: 18px;
}
.form-style {
	width: 1168px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 15px;
}
.search-button {
	background: orange;
    color: white;
    padding: 5px 15px 7px;
    text-decoration: none;
    margin-left: 30px;
    border-radius: 10px;
    position: absolute;
    margin-left: 10px;
    top: 0;
    right: 0;
}
.content-list {
	margin-bottom: 50px;
    overflow: hidden;
}
.search-button:hover {
	background: #ffca69;
}
@media screen and (max-width: 1180px){
	.form-style {
		width: 800px;
	}
}
@media screen and (max-width: 769px){
	.form-style {
		width: 450px;
	}
	select {
		width: 50%;
	}
	body {
	background-size: cover;
    background-attachment: fixed;
    background-position-x: 59%;
	}
}
@media screen and (max-width: 768px){
	.form-style {
		width: 450px;
	}
	select {
		width: 80%;
	}
	.search-button {
    right: -50px;
		}
	.list-data {
		width: 48%;
		margin: 2px calc(4%/4);
	}
	}

@media screen and (max-width: 480px){
	.form-style {
		width: 300px;
	}
	select {
		width: 60%;
	}
	.search-button {
    right: -10px;
		}
	.list-data {
		width: 88%;
	}
	}