.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.no-padding {
  padding: 0;
}
.padding10 {
  padding: 0 10px;
}


.control-container {
  position: relative;
}
.control-container::after {
  display: block;
  background: #D8D8D8;
  width: 100%;
  height: 1px;
  position: absolute;
}

.control-container .list-inline {
  margin-left: 15px;
  margin-right: 38px;
  margin-bottom: 6px;
  display: inline-block;
}
.control-container .hint {
  margin-right: 24px;
  font-size: 14px;
  color: #787878;
}
.control-container .tag {
  cursor: pointer;
  padding: 3.5px 8px;
  font-family: NotoSansCJKtc-Regular;
  font-size: 12px;
  color: #787878;
  letter-spacing: 0;
  line-height: 16px;
}
.control-container .tag.active {
  background: #4283E4;
  color:#fff;
  border-radius: 4px;
}

.object-container {
  padding-top: 31px;
  width: 1040px;
  margin-left: -25px;
}

.video-container {
  width: 240px;
  padding: 0;
  margin-left: 20px;
  float: left;
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30);
  margin-bottom: 15px;
  border-radius: 4px;
}

.first.last3.video-container {
  margin-left: 20px;
}

.last3.video-container {
  margin-left: 150px;
}

.first.last2.video-container {
  margin-left: 200px;
}

.last2.video-container {
  margin-left: 180px;
}

.last1.video-container  {
  margin-left: 415px; 
}

.object-container .img-container {
  height: 135px;
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0;
}
.img-container > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s;
  transform: translate(-50%, -50%);
}
.video-item {
  min-height: 228px;
  position: relative;
  width: 100%;
  margin-right: 20px;
}

.video-item:hover .img-responsive{
  transform: translate(-50%, -50%)scale(1.05);
}

.video-item .material-icons{
  font-size: 19px;
  color: #787878;
}
.video-item .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #212B36;
  min-height: 40px;
  padding: 4px 8px;
}
.video-timer {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 1.5px 4.71px;
  background: #000;
  font-family: SFUIText-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;
}

.views-tag{
  font-family: NotoSansCJKtc-Regular;
    font-size: 14px;
    color: #787878;
    letter-spacing: 0;
    line-height: 20px;
    padding: 4px 8px;
}

.video-tag {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.video-tag span,.video-tag ul {
  float: left;
  margin: 0;
  right: 0;
  padding: 0;
}

.lang-tag li {
  display: none;
  position: absolute;
  cursor: pointer;
  background: #4283E4;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
  z-index: 1;
  font-family: PingFangTC-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: -0.03px;
  margin-left: 0;
}

.lang-tag li:first-child {
  display: block;
  position: inherit;
}
.lang-tag:hover li{
  display: block;
}
span.level-tag {
  cursor: pointer;
  background: #37C597;
  padding: 2px 8px;
  border-radius: 2px;
  color: #fff;
  margin-left: 8px;
  font-family: PingFangTC-Medium;
  font-size: 12px;
  letter-spacing: -0.03px;
}


.container {
    padding: 0 82.5px;
}