<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello world i am h1 tag</title>
</head>
<body>
  <h1>Hello world i am h1 tag<h1>
  <a href="./about">goto about</a>
</body>
</html>